*.swp
*.[oa]
*.l[oa]
*.opensdf
*.orig
*.sdf
*.suo
core
vgcore.*
.buildstamp

*.pyc

/libuv.so
/libuv.dylib

/out/

/run-tests
/run-tests.exe
/run-tests.dSYM
/run-benchmarks
/run-benchmarks.exe
/run-benchmarks.dSYM

*.sln
*.sln.cache
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
_UpgradeReport_Files/
UpgradeLog*.XML
Debug
Release
ipch
